<div class="sidebar">
    <h2>Python Packages</h2>
    <ul>
    <li>
    <a href="https://pypi.org/project/getuseragent/">GetUserAgent</a>
    </li>
    <li>
    <a href="https://pypi.org/project/pixeldifference/">PixelDifference</a>
    </li>
    </ul>

    <h2>Repositories</h2>
    <ul>
    <li>
    <a href="https://github.com/pbiswell/getuseragent">GetUserAgent</a>
    </li>
    <li>
    <a href="https://github.com/pbiswell/pixeldifference">PixelDifference</a>
    </li>
    </ul>

    <h2>Donate</h2>

    <ul>
    <li>
    <a href="https://patreon.com/pbiswell">Patreon</a>
    </li>
    <li>
    <a href="https://ko-fi.com/pbiswell">Ko-fi</a>
    </li>
    </ul>
    <p>All projects featured here are open source and free to use. If you would like to support me, you can donate at the links above</p>
</div>